<div *ngIf="!isLoggedIn" fxLayout="row" fxLayoutGap="10px">
  <span *ngIf="!isHandset$">Log in with:</span>
  <button (click)="openEmailLoginDialog()" mat-raised-button>
    <mat-icon>email</mat-icon>
    <span *ngIf="!(isHandset$ | async)"> Email</span>
  </button>
  <span> </span>
  <button (click)="openPhoneLoginDialog()" mat-raised-button>
    <mat-icon>phone</mat-icon>
    <span *ngIf="!(isHandset$ | async)"> Phone</span></button>
</div>

<div *ngIf="isLoggedIn" fxLayout="row">
<!--  <div>{{user.uid}}</div>-->
  <button mat-button (click)="save()">
    <mat-icon>save</mat-icon>
    <span > Save</span>
  </button>
  <button mat-button (click)="submit()">
    <mat-icon>send</mat-icon>
    <span *ngIf="!(isHandset$ | async)"> Save & Submit</span>
  </button>
  <button mat-button *ngIf="isLoggedIn" (click)="logout()">Log out</button>
</div>
