<h1 mat-dialog-title>Welcome!</h1>
<div mat-dialog-content>
  <app-question-stepper></app-question-stepper>
  <p>We are doing a genetic study that includes testing your DNA. You may be able to learn gene results from our study
    that explain a disease you have. You may be able to learn gene results that suggest you have a higher chance than most
    people to develop a disease sometime during your life.</p>
  <p>The following questions will help you decide what types of results you would like to learn. You can choose to not
    learn results. Your choices will help researchers know when to contact you if they find a gene result that could cause
    disease or increase your chances for developing a disease. It is possible researchers will not have a reason to
    contact you.</p>
</div>
<div mat-dialog-actions>
  <span fxFlex></span>
  <button mat-raised-button class="mat-primary" (click)="close()">Continue</button>
</div>
