<h1 mat-dialog-title>Please make your initial selections</h1>
<div mat-dialog-content>
  <p>We are doing a genetic study that includes testing your DNA. You may be able to learn gene results from our study
    that explain a disease you have. You may be able to learn gene results that suggest you have a higher chance than most
    people to develop a disease sometime during your life.</p>
  <p>The following questions will help you decide what types of results you would like to learn. You can choose to not
    learn results. Your choices will help researchers know when to contact you if they find a gene result that could cause
    disease or increase your chances for developing a disease. It is possible researchers will not have a reason to
    contact you.</p>
  <h3>Please make your initial selections. You will have the chance to refine these selections later.</h3>
  <mat-vertical-stepper linear #stepper>
    <!--  <mat-step *ngFor="let field of (rs.fieldList | async) | visible">-->
    <mat-step *ngFor="let key of manualFieldNames">
      <ng-template matStepLabel>
        <span *ngIf="!rs.getField(key).hasValue">{{rs.getField(key).fieldAnnotation}}</span>
        <span *ngIf="rs.getField(key).hasValue">{{rs.getField(key).getValueString()}}</span>

      </ng-template>
      <app-field-card [field]="rs.getField(key)"></app-field-card>
    </mat-step>

    <!--  <mat-step>-->
    <!--    <ng-template matStepLabel>Show Results</ng-template>-->
    <!--    View the results of your selections.-->
    <!--    <div class="mat-action-row space-between">-->
    <!--      <button mat-raised-button matStepperPrevious>Back</button>-->
    <!--    </div>-->
    <!--  </mat-step>-->
  </mat-vertical-stepper>
</div>
<div mat-dialog-actions class="mat-action-row">
  <button mat-raised-button (click)="stepper.previous()">Back</button>
  <button *ngIf="stepper.selectedIndex < 4" mat-raised-button class="mat-primary" (click)="stepper.next()">Next</button>
  <button *ngIf="stepper.selectedIndex >= 4" mat-raised-button class="mat-primary" (click)="close()">Show me my results</button>
</div>

<!--<div mat-dialog-actions>-->
<!--  <span fxFlex></span>-->
<!--  <button mat-raised-button class="mat-primary" (click)="close()">Continue</button>-->
<!--</div>-->
