@import '../styles.scss';

//.primary-toolbar {
//  position: fixed;
//  top: 0;
//  left: 0;
//  z-index: 2;
//  width: 100% !important;
//}

.login-card {
  margin-right: auto;
  margin-left:auto;
  width: 400px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 400px;
  max-width: 100% !important;
}

.sidenav .mat-toolbar {
  background-color: white;
}

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-img {
  height: 56px;
  width: auto;
}

.field-area {
  background-color: $accent-dark;
  color: white;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.instructions-row {
  padding: 5px;
}
