<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               fixedInViewport
               fxLayout=""
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               [autoFocus]="false">
    <mat-toolbar class="sticky-toolbar mat-elevation-z2">
      <img src="../assets/img/CCHMC_CBI_TAG_TM_RGB_420px_lores_margin.png" class="logo-img">
      <span fxFlex></span>
      <button class="mat-accent"
              type="button"
              aria-label="Toggle sidenav"
              mat-raised-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <span>See Results</span>
        <mat-icon aria-label="Side nav toggle icon">arrow_forward</mat-icon>
      </button>
    </mat-toolbar>
    <app-field-list></app-field-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="primary-toolbar mat-elevation-z2">
      <button
        class="mat-accent"
        type="button"
        aria-label="Toggle sidenav"
        mat-raised-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">arrow_back</mat-icon>
        Make Selections
      </button>
      <span *ngIf="!(isHandset$ | async)">Genetic Results Decision Aid</span>
      <span fxFlex></span>
      <button mat-icon-button (click)="submit()">
        <mat-icon>save</mat-icon>
      </button>
      <app-user-menu></app-user-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

