<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               fixedInViewport
               fxLayout=""
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               [autoFocus]="false">
    <mat-toolbar class="sticky-toolbar mat-elevation-z2">
      <span>Options</span>
      <span fxFlex></span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
    </mat-toolbar>
    <app-field-list></app-field-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="primary-toolbar mat-elevation-z2">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">settings</mat-icon>
      </button>
      <span *ngIf="!(isHandset$ | async)">Genetic Results Decision Aid</span>
      <span fxFlex></span>
      <app-user-menu></app-user-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

