<mat-vertical-stepper linear #stepper>
<!--  <mat-step *ngFor="let field of (rs.fieldList | async) | visible">-->
  <mat-step *ngFor="let key of manualFieldNames">
    <ng-template matStepLabel>
      <span *ngIf="!rs.getField(key).hasValue">{{rs.getField(key).fieldAnnotation}}</span>
      <span *ngIf="rs.getField(key).hasValue">{{rs.getField(key).getValueString()}}</span>

    </ng-template>
    <app-field-card [field]="rs.getField(key)"></app-field-card>
  </mat-step>

<!--  <mat-step>-->
<!--    <ng-template matStepLabel>Show Results</ng-template>-->
<!--    View the results of your selections.-->
<!--    <div class="mat-action-row space-between">-->
<!--      <button mat-raised-button matStepperPrevious>Back</button>-->
<!--    </div>-->
<!--  </mat-step>-->
</mat-vertical-stepper>
<div class="mat-action-row space-between">
  <button mat-raised-button (click)="stepper.previous()">Back</button>
  <button *ngIf="stepper.selectedIndex < 4" mat-raised-button class="mat-primary" (click)="stepper.next()">Next</button>
  <button *ngIf="stepper.selectedIndex >= 4" mat-raised-button class="mat-primary" (click)="onComplete()">Show me my results</button>
</div>
