@import '../../styles.scss';

ul.tags {
  display: inline;
  margin: 0;
  padding: 0;
}

ul.tags li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: small;
}

ul.tags li:after {
  content: " | ";
  color: #aaa;
}

ul.tags li:last-child:after {
  content: "";
}

.inapplicable {
  opacity: 0.2;
  text-decoration: line-through;
}

.return-results-area {
  margin: 8px;
  padding: 8px;

  max-width: 1000px;
}

.positive-title {
  color: $primary-dark;
}

.negative-title {
  color: $warn;
  text-decoration: line-through;
}

.strikethru {
  text-decoration: line-through;
}
