<div fxLayout="column" fxLayout.gt-md="row">

  <mat-card class="return-results-area mat-elevation-z2" fxFlex.gt-md="50">
    <mat-card-title>Conditions that would be reported</mat-card-title>
    <mat-card-subtitle>Based on your selections, the following conditions would be reported to you if they were
      discovered during genetic testing
    </mat-card-subtitle>
    <mat-card-content>

      <mat-accordion>
        <ng-container *ngFor="let cond of cs.conditions">
          <mat-expansion-panel *ngIf="cs.shouldDisplay(cond)">
            <mat-expansion-panel-header>
              <mat-panel-title class="positive-title">
                {{cond.condition}}
              </mat-panel-title>
              <mat-panel-description *ngIf="isIncluded(cond.id)"><span fxFlex></span>
                <mat-icon>lock</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{cond.description}}</p>
            <div fxLayout="row">
              <ul class="tags">
                <li><span [ngClass]="{'inapplicable': !cond.preventable}">Preventable</span></li>
                <li><span [ngClass]="{'inapplicable': !cond.treatable}">Treatable</span></li>
                <li><span [ngClass]="{'inapplicable': !cond.adult_onset}">Adult Onset</span></li>
                <li><span [ngClass]="{'inapplicable': !cond.carrier.value}">Carrier Condition</span></li>
              </ul>
              <span fxFlex></span>
              <app-organ-icon [organList]="cond.organs"></app-organ-icon>
            </div>
            <mat-action-row>
              <button mat-button [ngClass]="{'mat-primary': isIncluded(cond.id)}"
                      (click)="toggleInclude(cond.id)">
                <mat-icon>lock</mat-icon>
                Always Report
              </button>
              <button mat-button [ngClass]="{'mat-warn': isExcluded(cond.id)}"
                      (click)="toggleExclude(cond.id)">
                <mat-icon>block</mat-icon>
                Never Report
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <mat-card class="return-results-area mat-elevation-z2" fxFlex.gt-md="50">
    <mat-card-title>Conditions that would NOT be reported</mat-card-title>
    <mat-card-subtitle>Based on your selections, the following conditions would NOT be reported to you if they were
      discovered during genetic testing
    </mat-card-subtitle>
    <mat-card-content>
      <mat-accordion>
        <ng-container *ngFor="let cond of cs.conditions">
          <mat-expansion-panel *ngIf="!cs.shouldDisplay(cond)">
            <mat-expansion-panel-header>
              <mat-panel-title class="negative-title">
                {{cond.condition}}
              </mat-panel-title>
              <mat-panel-description *ngIf="isExcluded(cond.id)"><span fxFlex></span>
                <mat-icon>block</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{cond.description}}</p>
            <div fxLayout="row">
              <ul class="tags">
                <li><span [ngClass]="{'inapplicable': !cond.preventable}">Preventable</span></li>
                <li><span [ngClass]="{'inapplicable': !cond.treatable}">Treatable</span></li>
                <li><span [ngClass]="{'inapplicable': !cond.adult_onset}">Adult Onset</span></li>
                <li><span [ngClass]="{'inapplicable': !cond.carrier.value}">Carrier Condition</span></li>
              </ul>
              <span fxFlex></span>
              <app-organ-icon [organList]="cond.organs"></app-organ-icon>
            </div>
            <mat-action-row>
              <button mat-button [ngClass]="{'mat-primary': isIncluded(cond.id)}"
                      (click)="toggleInclude(cond.id)">
                <mat-icon>lock</mat-icon>
                Always Report
              </button>
              <button mat-button [ngClass]="{'mat-warn': isExcluded(cond.id)}"
                      (click)="toggleExclude(cond.id)">
                <mat-icon>block</mat-icon>
                Never Report
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>

    </mat-card-content>
  </mat-card>

</div>
