<!--<mat-card>-->
<!--&lt;!&ndash;  <mat-card-title>{{field.fieldLabel}}</mat-card-title>&ndash;&gt;-->
<!--  <mat-card-content>-->
    <h3 class="field-label">{{field.fieldLabel}}</h3>
    <p class="field-note">{{field.fieldNote}}</p>

    <app-radio-control *ngIf="field.fieldType == FieldType.Radio" [field]="field"></app-radio-control>
    <app-checkbox-control *ngIf="field.fieldType == FieldType.Checkbox" [field]="field"></app-checkbox-control>

<!--  </mat-card-content>-->
<!--</mat-card>-->
